@import "https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700";
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');









.cards-laterais-container {
    width: 100%;
    height: all;
}

.cards-lateral-container > .card-lateral {
    width: 100%;
    height: all;
}

.card-lateral {
    width: 100%;
    height: all;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.card-lateral .conteudo.discord {
    width: 100%;
    height: 495px;
    padding: 0;
}

.card-lateral .conteudo.twitter {
    width: 100%;
    padding: 10px;
}

.card-lateral .conteudo {
    width: 100%;
}

.card-lateral .conteudo.equipe {
    padding: 10px 10px;
    background-color: #3498db;
}

.card-lateral .conteudo img {
    width: 100%;
    height: 100%;
}

.card-lateral .conteudo .copiarip {
    width: 100%;
    height: all;
}

.card-lateral .conteudo .copiarip.botao {
    width: 75%;
    background-color: #00a8ff;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
}

.card-lateral .conteudo .titulo {
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-lateral .conteudo.equipe cor {
    font-size: 25px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
}

.card-lateral .conteudo .titulo .sub {
    font-size: 15px;
    color: #141414;
    font-weight: 300;
}

.card-lateral .conteudo .texto {
    color: #141414;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 300;
}

.card-lateral .conteudo.centro {
    display: flex;
    justify-content: center;
}


















.conteudo a[social-tipo="twitter"] {
    color: #fff;
    font-size: 20px;
    background-color: #1dcaff;
    padding: 8px 5px;
    max-width: 100%;
    text-align: center;
    display: block;
    border-radius: 3px;
}

.conteudo a[social-tipo="facebook"] {
    color: #fff;
    font-size: 20px;
    background-color: #3b5998;
    padding: 8px 5px;
    max-width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
    border-radius: 3px;
}

.conteudo a[social-tipo="discord"] {
    color: #fff;
    font-size: 20px;
    background-color: #7289DA;
    padding: 8px 5px;
    max-width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
    border-radius: 3px;
}





























.features-container {
    width: 100%;
    min-width: 100%;
}

.features-container > .feature-card {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature-card .imagem {
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.feature-card .imagem.two {
    width: 180px;
    height: 180px;
    margin-left: 10px;
}

.feature-card .imagem img {
    width: 100%;
    height: 100%;
}

.feature-card .texto {
    width: 80%;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    color: #292929;
}

.feature-card .texto span {
    font-size: 30px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}














.card-name {
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #ff3f34;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.card-name.titulo {
    text-align: left;
    padding: 20px 15px;
    font-size: 35px;
    font-weight: 10;
}

.card-name a {
    color: #ff3f34;
}